<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <style>
      body {
        background: #000;
        padding-top: 200px;
      }
      .matrix-frame {
        width: 100%;
      }
      .matrix-dot {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #333;
      }
      .matrix-dot.on {
        background-color: #FFF;
      }
      .matrix-row {
        text-align: center;
      }
      .matrix-dot-wrapper {
        display: inline-block;
        margin: 2px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="matrix-frame" style="display: none;">
            {{#matrix}}
            <div class="matrix-row">
              {{#.}}
                <div class="matrix-dot-wrapper">
                  <div class="matrix-dot" data-y="{{y}}" data-x="{{x}}"></div>
                </div>
              {{/.}}
            </div>
            {{/matrix}}
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script>
      var coordinates;

      $(function() {
        $('.matrix-dot').click(function(ev) {
          ev.preventDefault();

          var $el = $(this),
              data = $el.data();

          $el.toggleClass('on');

          if($el.hasClass('on')) {
            coordinates.push({
              y: data.y,
              x: data.x,
              opacity: 1
            });
          } else {
            var index = coordinates.findIndex(function(coordinate) {
              return data.y === coordinate.y && data.x === coordinate.x;
            });
            coordinates.splice(index, 1);
          }

          $.ajax({
            type:'POST',
            url: window.location.pathname,
            data: JSON.stringify({
              coordinates: coordinates
            }),
            contentType: 'application/json'
          });
        });

        $.get(window.location.pathname, function(data) {
          coordinates = data;
          coordinates.forEach(function(coordinate) {
            $(`[data-y=${coordinate.y}][data-x=${coordinate.x}]`).addClass('on');
          })
          $('.matrix-frame').fadeIn();
        })
      });
    </script>
  </body>
</html>
